node_modules/
dist/
*.config.js
.*rc.js
# fixtures
# shared-fixtures
coverage/
# __snapshots__

# packages/eslint-plugin-tslint/tests

## temp - have to fix lint error
packages/react/storybook
packages/react/hooks
packages/react/ui
